html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  line-height: 1.42;
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #212121;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* justify-content: space-between;
  display: flex; */
  align-items: center;
}

/* Так было на занятии */
/* max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; */

.header__items {
  display: flex;
  align-items: center;
  margin: 0 -42px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__item {
  padding: 0 42px;
}

.header__item .logo {
  min-width: 237px;
  width: 100%;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  margin-left: 85px;
}

.nav__items {
  display: flex;
}

.nav__item {
  margin: 0 25px;
}

.nav__link--current {
  color: #2196f3;
  /* content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px; */
}

.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

/* .header__item-nav {
  margin-right: auto;
} */

.logo {
  display: block;
}

/* svg {
  display: none;
} */

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0;
  list-style: none;
}
/* flex-wrap: wrap;
  margin: 0;
} */

/* display: flex;
margin-left: auto;
padding: 0;
list-style: none;
align-items: center; */

.list .list__item + .list__item {
  margin-left: 50px;
}

.list__link {
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

.list__link:hover,
.list__link:focus {
  color: #2196f3;
}

.list__link-icon {
  display: flex;
  fill: #757575;
  margin-right: 10px;
}

.list__link-icon--phone {
  width: 10px;
  height: 14px;
}

.list__link-icon--email {
  width: 16px;
  height: 11px;
}

.list__item-text {
  font-weight: 500;
}

.layout__sect-hero {
  text-align: center;
  min-height: 600px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.container.hero {
  width: 696px;
}

.hero__link {
  display: inline-block;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 11px 32px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
}

.container__title-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.container__title-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.container__items {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Portfolio */
.projects-list {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  display: flex;
  flex-wrap: wrap;
}

.projects-list__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

button {
  display: inline-block;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
}

.list__item-portfolio:not(:last-child) {
  margin-right: 8px;
}

.layout__sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.footer__address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
